body {
    font-family: 'Gasoek One', sans-serif;
}

.pattern {
    z-index: -9999;
    position: fixed;
    width: 100vw;
    height: 100vw;
    background: radial-gradient(#C1D2Ef 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #C1D2Ef 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #C1D2Ef 49% 51%, transparent 51%);
    background-size: 3em 3em;
    opacity: 0.45
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.round,
.round .img-area {
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
}

.round {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.round .img-area {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area {
    height: calc(100% - 35px);
    width: calc(100% - 35px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/*profile*/

.progressbar {
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    background: #ccc;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    height: 30px;
    width: 400px;
    border:black solid 5px;
}


.progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 30px;
    width: 0;
    background: linear-gradient(-45deg, #23a6d5, #afeab9, #c1d2ef, #bae4e3);
    animation: progress 5s ease forwards;
}

@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

.progress {
    position: absolute;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display:flex;
    align-content: space-between;
    top: 550px;
    left: 50%;
    font-size:50px;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 99;
}

.progress::after {
    content: '%';
}
